.teacher-dashboard {
    margin-left: 300px;
    height: 100vh;
}

.teacher-dashboard main {
    padding: 0 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teacher-dashboard main .header-container {
    margin-top: 20px;
    padding: 40px 0;
    background-color: #182240;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 25px;
}

.teacher-dashboard main .header-container .text-container {
    max-width: 500px;
    padding-left: 40px;
}

.teacher-dashboard main .header-container .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.teacher-dashboard main h1 span {
    color: #42C9A3;
}

.teacher-dashboard main .header-container .text-container h1 {
    margin-bottom: 10px;
}

.teacher-dashboard main .header-container .img-container img {
    height: 180px;
}

.teacher-dashboard main .body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.teacher-dashboard main .body-container .enrolled-student-container {
    background-color: #182240;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 15px;
    padding: 40px 0;
}

.teacher-dashboard main .body-container .enrolled-student-container h1 {
    max-width: 180px;
    line-height: 1.8rem;
    font-size: 1.8rem;
    text-align: center;
}

.teacher-dashboard main .body-container .enrolled-student-container .total-student {
    border: 5px solid #42C9A3;
    border-radius: 50%;
    padding: 30px;
    margin: 20px 0;
    height: 100px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.teacher-dashboard main .body-container .enrolled-student-container > span {
    font-size: .8rem;
}

.teacher-dashboard main .body-container .code-lesson {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    border-radius: 15px;
}

.teacher-dashboard main .body-container .code-lesson .code-container {
    background-color: #182240;
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.teacher-dashboard main .body-container .code-lesson h1 {
    font-size: 1.8rem;
}

.teacher-dashboard main .body-container .code-lesson .total-lessons {
    background-color: #182240;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.teacher-dashboard main .body-container .code-lesson .total-lessons h1 {
    max-width: 150px;
    line-height: 1.8rem;
}

.teacher-dashboard main .body-container .code-lesson .total-lessons > span {
    font-size: 1.8rem;
    font-weight: 500;
}

.teacher-dashboard main .body-container .manage-lesson {
    background-color: #182240;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    border-radius: 15px;
    padding: 20px 30px;
}

.teacher-dashboard main .body-container .manage-lesson h1 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
}

.teacher-dashboard main .body-container .manage-lesson p {
    font-size: .9rem;
}