.enrolledModal {
  color: #000;
}

.enrolledModal h1 {
  font-size: 1.5rem;
}

.enrolledModal h1 > span {
  color: #42C9A3;
}

.enrolledModal h1 > .closeBtn {
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
  float: right;
  padding: 0 10px;
  cursor: pointer;
}

.enrolledModal h1 > .closeBtn:hover {
  color: red;
}