.admin-fingerspell > .main {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  margin-left: 350px;
  margin-right: 50px;
}

.admin-fingerspell > .main > .header {
  padding-top: 30px;
  width: 380px;
}

.admin-fingerspell > .main > .header > h1{
  font-size: 1.8rem;
}

.admin-fingerspell > .main > .header > h1 > span{
  font-size: 1rem;
  font-weight: 400;
}

.admin-fingerspell > .main > .input-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.admin-fingerspell > .main > .input-container > input {
  height: 45px;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: lightgray;
  font-family: inherit;
  padding: 0 10px;
  font-size: 1rem;  
}

.admin-fingerspell > .main > .input-container > .custom-select { 
  display: inline-block;
}

.admin-fingerspell > .main > .input-container > select{ 
  width: 300px;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 10px;
  background-color: rgb(10, 10, 10);
  color: #fff;
}

.admin-fingerspell > .main > .input-container > button {
  height: 45px;
  width: 130px;
  border-radius: 10px;
  border: none;
  background-color: #42C9A3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-fingerspell > .main > .input-container > button > .add-icon {
  font-size: 30px;
  margin-right: 10px;
}

.admin-fingerspell > .main > .input-container > button > span {
  font-size: 16px;
}

.admin-fingerspell > .main > table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  display: block;
  width: 100%;
}

.admin-fingerspell > .main > table > thead {
  font-size: 1rem;
}

.admin-fingerspell > .main > table > tbody {
  font-size: 1rem;
  display: block;
  overflow-y: auto;
  height: 432px;
}

.admin-fingerspell > .main > table tr {
  height: 30px;
}

.admin-fingerspell > .main > table > thead{
  background-color: #000;
  color: #fff;
  display: block;
}

.admin-fingerspell > .main > table > thead > th {
  width: 100%;
}

.admin-fingerspell > .main > table > tbody > tr {
  height: 40px;
  border-bottom: 1px solid black;
}

.admin-fingerspell > .main > table > tbody > tr > .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.admin-fingerspell > .main > table > tbody > tr > .btn-container > button {
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  width: 80px;
  height: 30px;
}

.admin-fingerspell > .main > table > tbody > tr > .btn-container > button:nth-child(1) {
  background-color: #000;
  color: #fff;
  margin-right: 5px;
}

.admin-fingerspell > .main > table > tbody > tr > .btn-container > button:nth-child(2) {
  background-color: maroon;
  color: #fff;
  margin-right: 5px;
}

.admin-fingerspell tr {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}