.teacherSignup {
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/signuploginbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teacherSignup > .container {
  height: 495px;
  width: 600px;
  border-radius: 20px;
  color: #182240;
  padding: 50px 60px 50px 60px;
  background-color: #fff;
}

.teacherSignup > .container > h1 > span {
  color:#43c9a3;
}

.teacherSignup > .container > h1 > img {
  height: 35px;
  width: 35px;
  float: right;
  cursor: pointer;
}

.teacherSignup > .container > span {
  font-weight:100;
  font-size: .9rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: .8rem;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: .8rem;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: .8rem;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: .8rem;
}

.teacherSignup > .container > form > .classContainer {
  display: flex;
  flex-direction: row;
}

.teacherSignup > .container > form > .classContainer > .school {
  margin: 7px 0;
  height: 45px;
  width: 60%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #e1e3e8
}

.teacherSignup > .container > form > .classContainer > .classCode {
  margin: 7px 0;
  height: 45px;
  width: 40%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #b1e2d5;
  margin-left: 10px;
}

.teacherSignup > .container > form  > .nameContainer > input {
  margin: 7px 0;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #e1e3e8
}

.teacherSignup > .container > form  > .passwordContainer > input {
  margin: 7px 0;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #e1e3e8
}

.teacherSignup > .container > form  > .email {
  margin: 7px 0;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #e1e3e8
}

.teacherSignup > .container > form > .school {
  margin: 7px 0;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #e1e3e8
}

.teacherSignup > .container > form > .classCode {
  margin: 7px 0;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #e1e3e8
}
.teacherSignup > .container > form > .nameContainer {
  display: flex;
  flex-direction: row;
}

.teacherSignup > .container > form > .nameContainer > .lastName {
  margin-right: 10px;
  margin-left: 10px;
}

.teacherSignup > .container > form > .nameContainer > .middleInitial {
  width: 80px;
}

.teacherSignup > .container > form > .passwordContainer {
  display: flex;
  flex-direction: row;
}

.teacherSignup > .container > form > .passwordContainer > .newPassword {
  margin-right: 10px;
}

.teacherSignup > .container > form > button {
  color: #fff;
  background-color: #182240;
  height: 40px;
  width: 80%;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  cursor: pointer;
}

.teacherSignup > .container > form > p {
  font-size: .7rem;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}