.delete-modal {
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  user-select: none;
}

.delete-modal > .content {
  height: 200px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(247, 241, 241);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.delete-modal > .content > button {
  border: none;
  outline: none;
  height: 35px;
  width: 35px;
  font-size: 15px;
  font-weight: bold;
  background-color: inherit;
  cursor: pointer;
  margin: 10px;
  margin-left: auto;
}

.delete-modal > .content > button:hover{
  color: red;
}

.delete-modal > .content > div {
  height: 100%;
  margin: 0 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.delete-modal > .content > div > span {
  font-size: .9rem;
}

.delete-modal > .content > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.delete-modal > .content > div > div > button{
  height: 50px;
  width: 140px;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}

.delete-modal > .content > div > div > button:nth-child(1){
  background-color: green;
}

.delete-modal > .content > div > div > button:nth-child(2){
  background-color: maroon;
}