.enrolled-student {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 30px;
}

.enrolled-student main {
  width: 100%;
}

.enrolled-student main .image-container {
  background-color: var(--aquaGreen);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.enrolled-student main .image-container .image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .enrolled-student main .table-container {
  min-height: 400px;
  width: 90%;
}

.enrolled-student main .table-container .table-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr 1fr;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.enrolled-student main .table-container .table-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr 1fr;
}

.enrolled-student main .table-container .table-data:hover {
  background-color: var(--aquaGreen);
}

.enrolled-student main .user-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.enrolled-student main .table-container .table-data .table-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid lightgray;
}

.enrolled-student main .table-container .table-data .table-option {
  font-size: 1.5rem;
  justify-content: center;
} */