@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root{
  --backgroundColor: #1d2549;
  --navyBlue: #182240;
  --aquaGreen: #42C9A3;
  --whiteGray: #F0F0F0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1d2549;
  color: #fff;
  /* overflow: hidden; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}