.administrator > .main {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}