.unauthorized {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unauthorized > .heading {
  font-size: 4rem;
  font-weight: 600;
}

.unauthorized > .code {
  font-size: 4rem;
  font-weight: 600;
  color: red;
}

.unauthorized > div > a {
  color: black;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}

.unauthorized > div > a > span {
  color: #799733;
}

.unauthorized > div > p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 5px;
  display: inline-block;
}