.student-dashboard {
  margin-left: 300px;
  height: 100vh;
  padding: 0 40px;
  overflow: hidden;
}

.student-dashboard main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-dashboard main h2 {
  color: var(--aquaGreen);
}

.student-dashboard main .container1 {
  background-color: var(--navyBlue);
  height: 25%;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  align-items: center;
}

.student-dashboard main .container1 span {
  line-height: 1.2rem;
}

.student-dashboard main .container1 .copyClipboard:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.3s;
}

.student-dashboard main .container2 {
  background-color: var(--navyBlue);
  height: 20%;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  align-items: center;
}

.student-dashboard main .container2 span {
  line-height: 1.1rem;
  font-size: 1.2rem;
}

.student-dashboard main .container3 {
  background-color: var(--navyBlue);
  height: 20%;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  align-items: center;
}

.student-dashboard main .container3 span {
  line-height: 1.1rem;
  font-size: 1.2rem;
}

.student-dashboard main .container2:hover,
.student-dashboard main .container3:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s;
}
